@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700;800;900&display=swap");

body {
  background-color: #111928;
  max-width: 1990px;
  margin: 0;
  font-family: "Inter", sans-serif;
}
